.challenges-list {
    max-width: 1200px;
    margin: 0 auto;

    .button-container {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: -55px;
    }

    table {
        width: 100%;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    
    td:nth-child(2),
    th:nth-child(2) {
        width: 15%;
    }
    td:nth-child(3),
    th:nth-child(3) {
        width: 50%;
    }
}